@charset "UTF-8";

/* 초기화 */
*{ margin: 0; padding: 0;}
ul,li { list-style: none;}
a { text-decoration: none;}

/* 컨텐츠 */

#fullpage > #section1 {
    background-image: url("../img/45.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

#fullpage > #section1 h1{
    color: white;
    font-size: 5em;
} 

#fullpage > #section2 {
    background-image: url("../img/4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#fullpage > #section2 h1{
    font-size: 3em;
    color: coral;
    padding : 30px;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
} 

#fullpage > #section2 h4{
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom : 30px;
}


#fullpage > #section3 {
    background-image: url("../img/48.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

#fullpage > #section3 > div {
    width: 50%;
    float: left;
}

#fullpage > #section3 h1 {
    font-size: 3em;
    margin-bottom: 50px;
    margin-left: 10%;
}

#fullpage > #section3 h4 {
    font-size: 1em;
    text-align: left;
    margin-left: 25%;
    margin-right: 10%;
}

#fullpage > #section {
    background-image: url("../img/5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} 


/*
.slide:nth-child(1) {
    width: 100vw;
    height: 100vh;
}
.slide:nth-child(2) {
    width: 100vw;
    height: 100vh;
}
.slide:nth-child(3) {
    width: 100vw;
    height: 100vh;
}
.slide:nth-child(4) {
    width: 100vw;
    height: 100vh;
}

*/