@charset "UTF-8";

/* 초기화 */
*{ margin: 0; padding: 0;}
ul,li { list-style: none;}
a { text-decoration: none;}

/* 컨텐츠 */

#main_content {
    text-align: center;
}

#fullpage > #section1 {
    background-image: url("../img/45.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

#fullpage > #section1 h1{
    color: white;
    font-size: 5em;
} 

#fullpage > #section2 {
    background-image: url("../img/4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#fullpage > #section2 h1{
    font-size: 3em;
    color: coral;
    padding : 30px;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
} 

#fullpage > #section2 h4{
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom : 30px;
    font-family: 'Gowun Dodum', sans-serif;
}


#fullpage > #section3 {
    background-image: url("../img/48.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

#fullpage > #section3 > div {
    width: 50%;
    float: left;
}

#fullpage > #section3 h1 {
    font-size: 3em;
    margin-bottom: 50px;
    margin-left: 10%;
}

#fullpage > #section3 h4 {
    font-size: 1.2em;
    text-align: left;
    margin-left: 25%;
    margin-right: 10%;
    font-family: 'Gowun Dodum', sans-serif;
}

#fullpage > #section4 form {
    padding: 50px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin-bottom: 10%;
}

#fullpage > #section4 div {
    padding: 20px;
}

#fullpage > #section4 div label{
    float: left;
    width: 100px;
}

#fullpage > #section4 #msg {
    height: 100px;
    width: 200px;
}

#fullpage > #section4 #name {
    width: 200px;
}


#fullpage > #section4 #email {
    width: 200px;
}


#fullpage > #section4 #submit {
    width: 100px;
}


@media screen and (min-width:768px) and (max-width: 1023px) {
    #fullpage > #section4 form {
        margin-left: 20%;
        margin-right: 20%;
    }

    #fullpage > #section4 div label{
        float: left;
        width: 1%;
    }

}

@media screen and (max-width:767px) {
    
    #fullpage > #section1 h1{
        font-size: 3em;
    }

    #fullpage > #section2 h1{
        margin-right: 10%;
        margin-left: 10%;
    }

    #fullpage > #section2 h4{
        font-size: 1em;
        margin-right: 10%;
        margin-left: 10%;
        padding-left: 10%;
        padding-right: 10%;
    }

    #fullpage > #section3 > div {
        width: 100%
    }
    

    #fullpage > #section4 form{
        width: 100%;
        padding-right: 15%;
        margin-left: -15%;
    }

    #fullpage > #section4 div label{
        float: left;
        width: 1%;
    }
}