@charset "UTF-8";

/* 초기화 */
*{ margin: 0; padding: 0;}
ul,li { list-style: none;}
a { text-decoration: none;}

/* 헤더 */

#main_header {
    height: 100px;
    width: 100%;
}

#main_header .gnb_container {
    background-color: grey;
    width: 100%;
}

#main_header .gnb {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

#main_header .logo {
    float: left;
    width: 150px;
}

#main_header .menu {
    float: left;
    overflow: hidden;
}

#main_header .menu > li {
    float: left;
    padding: 20px;
}

/*#main_header .menu > li:hover{}*/


#mian_header .icon {
    float: left;
    overflow: hidden;
}

#main_header .icon > li {
    float: right;
    padding: 10px;
}

#main_header .lnb_container {
    display: none;
}

/* 컨텐츠 */

#main_content {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
} 

.bxslider {
    margin: 0 auto;
    min-width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.bxslider li {
    min-height: 100vh;
}

.bxslider li:nth-child(1) {
    background-image: url()
}

/* 
.bxslider li{
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.bx-wrapper .bx-viewport{
    border: none;
} */


#main_content .best {
    overflow: hidden;
}

#main_content .best > div {
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

/* #main_content .event {} */

/* 푸터 */

#main_footer {
    height: 200px;
}

