@charset "UTF-8";

/* 초기화 */
*{ margin: 0; padding: 0;}
ul,li { list-style: none;}
a { text-decoration: none;}

/* 헤더 */

#main_header {
    width: 100%;
}

#main_header > .gnb_container{
    position: relative;
}

#main_header .gnb {
    width: 100%;
    overflow: hidden;
    position: absolute;
    margin: 0 auto;
    z-index: 1;
    background-color: darkgray;
}

#main_header .logo {
    float: left;
    width: 150px;
    margin-top: 5px;
    margin-left: 5px;
}

#main_header .menu {
    float: left;
    overflow: hidden;
}


#main_header .menu > li {
    float: left;
    padding : 20px;
}

#main_header .menu > li > .lnb {
    overflow: hidden;
}

#main_header .menu .submenu {
    height: 150px;
    padding-top: 20px;
}

#mian_header .icon {
    float: left;
    overflow: hidden;
}

#main_header .icon > li {
    float: right;
    padding: 10px;
    margin-top: 10px;
}

/* 메뉴 드롭다운 */

#main_header .gnb_container .submenu {
    display: none;
}

#main_header .gnb_container .menu .menuimg {
    display: none;
}

#main_header .menu > li:hover .submenu {
    display: block;
}

#main_header .menu > li:hover .menuimg {
    display: none;

}
/* 모바일메뉴 */

@media screen and (max-width:767px) {
    #main_header .gnb .menu {
        display: none;
    }

    #main_header .icon {
        display: none;
    }

}

/* 컨텐츠 */

#main_content {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center; 
}

/* #main_content .event {} */

/* 푸터 */

#main_footer {
    height: 200px;
}

#main_footer > div {
    float: left;
    margin-left: 50px;
}

#main_footer > div:first-child {
    margin-left: 10%;
}

#main_footer > div:last-child {
    float: right;
    margin-right: 10%;
}
