@charset "UTF-8";

/* 헤더 */



/* 이미지 슬라이더 */

.bxslider {
    margin: 0 auto;
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.bxslider > li {
    position: absolute;
    margin: 0 auto;
}

.bxslider > li > div > h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 5em;
    color: white;
    /* font-family: 'Indie Flower', cursive; */
}

.bxslider > li > div > .slidermsg {
    font-family: 'Indie Flower', cursive;
}

.bxslider > li > div > h4 {
    position: absolute;
    top: 60%;
    left: 40%;
    font-size: 2em;
    color: white;
    font-family: 'Indie Flower', cursive;
}

.bxslider > li > div > h3 {
    position: absolute;
    top: 90%;
    left: 60%;
    font-size: 2em;
    color: white;

}

/* 모바일 이미지 */

.mobileimg {
    display: none;
    position: relative;
}

.mobileimg > div {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 10%;
    font-size: 2em;
    color: white;
}

.mobileimg > img {
    height: 100vh;
}

.mobileimg > div > h1:last-child {
    font-size: 3em;
    text-decoration: underline;
    background-color: rgb(255,166,0);
    font-style: italic;
    letter-spacing: 15px;
}

/* 콘텐츠 */

#main_content {
    width: 100%;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}

/* 베스트 상품 */

#main_content .best {
    overflow: hidden;
}

#main_content .best .bestwrap{
    overflow: hidden;
    font-size: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#main_content .best > h3 {
    text-align: left;
    margin-left: 10%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#main_content .best .bestwrap > div {
    display: inline-block;
    width: 23%;
    margin: 1%;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    position: relative;
    border:  rgb(210, 210, 210) 1px solid;
    box-sizing: border-box;
}

#main_content .best .bestwrap > div .price {
    font-size: 15px;
    background-color: white;
    padding: 5px;
}

.hovermsg {
    font-size: 15px;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 15px;
    border: 1.5px solid white;
    background-color: rgba(255, 255, 255 , 0.5);
    display: none;
}

#main_content .best .bestwrap > div .price h4:nth-child(1) {
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
}

#main_content .best .bestwrap > div .price h4:nth-child(2) {
    float: right;
    margin-right: 10%;
    overflow: hidden;
}

#main_content .best .bestwrap > div img {
    max-width: 100%;
    height: auto;
}

#main_content .best .bestwrap > div img:hover {
    opacity: 0.7;
}

#main_content .best .bestwrap > div img:hover + .hovermsg{
    display: block;
}

/* 신상품 */

#main_content .newproduct {
    overflow: hidden;
}

#main_content .newproduct .newwrap{
    overflow: hidden;
    font-size: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#main_content .newproduct > h3 {
    text-align: left;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#main_content .newproduct .newwrap > div {
    display: inline-block;
    width: 23%;
    margin: 1%;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    position: relative;
    border:  rgb(210, 210, 210) 1px solid;
    box-sizing: border-box;
    margin-bottom: 50px;
}

#main_content .newproduct .newwrap > div .price {
    font-size: 15px;
    background-color: white;
    padding: 5px;
}

.hovermsg {
    font-size: 17px;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 15px;
    border: 1.5px solid white;
    background-color: rgba(255, 255, 255 , 0.5);
    display: none;
}

#main_content .newproduct .newwrap > div .price h4:nth-child(1) {
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
}

#main_content .newproduct .newwrap > div .price h4:nth-child(2) {
    float: right;
    margin-right: 10%;
    overflow: hidden;
}

#main_content .newproduct .newwrap > div img {
    max-width: 100%;
    height: auto;
}

#main_content .newproduct .newwrap > div img:hover {
    opacity: 0.7;
}

#main_content .newproduct .newwrap > div img:hover + .hovermsg{
    display: block;
}

/* 인스타 연동 */
/* 
.insta {
    height: 200px;
} */


#main_content > .event > .eventimg1 {
    background-color: #00a9c6;
    line-height: 0px;

}

#main_content > .event > .eventimg2 {
    /* background-color: #018def; */
    line-height: 0px;
}

#main_content > .event > .eventimg3 {
    /* background-color: #00a9c6; */
    line-height: 0px;
}

#main_content > .event > .eventimg4 {
    margin-top: 50px;
        background-image: url("../img/logo.gif");
        width: 100%;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
}

#main_content > .event > .message1 {
    width:100%;
    height: 500px;
}

#main_content > .event > .message1 > h1 {
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 4em;
    /* background-color: yellow; */
}

#main_content > .event > .message1 > h3 {
    font-size: 1.5em;
}

#main_content > .event > .message1 > h2 {
    margin-top: 30px;
    font-size: 2em;
    font-style: italic;
    background-color: black;
    color: white;
}

.event > .formwrap form {
    /* background-image: url("../img/3.jpg"); */
    padding: 50px;
    margin-top: 5%;
    margin-left: 30%; 
    margin-right: 30%;
    background-color: rgba(255, 255, 255);
    border: 1px solid black;
    font-weight: bold;
}

.event > .formwrap div {
    padding: 20px;
}

.event > .formwrap div label{
    float: left;
    width: 100px;
}

.event > .formwrap #password {
    width: 200px;
}

.event > .formwrap #name {
    width: 200px;
}


.event > .formwrap #email {
    width: 200px;
}


.event > .formwrap #submit {
    width: 100px;
}


@media screen and (min-width:768px) and (max-width: 1023px) {

    #main_content {
        width: 100%;
    }

    #main_content .best {
        margin-top: 50px;
    }

    #main_content {
        width: 100%;
    }

    #main_content .best > .bestwrap div {
        width: 40%;
    }

    #main_content .best .bestwrap > div .price {
        width: 100%;
        font-size: 20px;
    }
    
    #main_content .best .bestwrap > div .price > h4:nth-child(1) {
        width: 70%;
        height: 60px;
    }

    #main_content .best .bestwrap > div .price > h4:nth-child(2) {
        width: 30%;
        margin-right: 10%;
    }

    #main_content .newproduct > .newwrap div {
        width: 40%;
    }

    #main_content .newproduct .newwrap > div .price {
        width: 100%;
        font-size: 20px;
    }
    
    #main_content .newproduct .newwrap > div .price > h4:nth-child(1) {
        width: 70%;
        height: 60px;
    }

    #main_content .newproduct .newwrap > div .price > h4:nth-child(2) {
        width: 30%;
        margin-right: 10%;
    }

    #main_content .newproduct .newwrap > div img:hover + .hovermsg{
        top: 45%;
        width: 80%;
    }

    #main_content .best .bestwrap > div img:hover + .hovermsg{
        top: 45%;
        width: 80%;
    }

    .bxslider > li > div > h4 {
        display: none;
    }

    #main_content > .event > .message1 {
        height: 680px;
    }

    #main_content > .event > .eventimg4 {
        background-image: url("../img/logo.gif");
        width: 100%;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .event > .formwrap form {
        margin-left: 20%;
        margin-right: 20%;
    }

}

@media screen and (max-width:767px) {
    
    .bxslider {
        display: none;
    }

    .mobileimg {
        display: block;
    }

    #main_content .best > .bestwrap div {
        width: 90%;
        margin-bottom: 20px;
    }

    #main_content .newproduct > .newwrap div {
        width: 90%;
        margin-bottom: 20px;
    }

    .hovermsg {
        width: 70%;
    }

    #main_content .best .bestwrap > div .price {
        font-size: 25px;
    }

    #main_content .newproduct .newwrap > div .price {
        font-size: 25px;
    }

    #main_content > .event > .message1 {
        height: 900px;
    }


    #main_content > .event > .eventimg2 {
        background-image: url("../img/49.jpg");
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* #main_content > .event > .eventimg3 {
        background-image: url("../img/8.jpg");
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
    } */

    
    #main_content > .event > .eventimg4 {
        background-image: url("../img/logo.gif");
        width: 100%;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .event > .formwrap form > div > img {
        display: none;
    }

    .event > .formwrap form {
        width: 100%;
        margin: auto 0;
        padding: auto 0;
        border: none;
    }
    
    .event > .formwrap div label{
        float: left;
        width: 1%;
    }
}    