@charset "UTF-8";

/* 헤더 */



/* 이미지 슬라이더 */

.bxslider {
    margin: 0 auto;
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.bxslider > li {
    position: absolute;
    margin: 0 auto;
}

.bxslider > li > div > h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 5em;
    color: white;
}

.bxslider > li > div > h4 {
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 2em;
    color: white;
}

.bxslider > li > div > h3 {
    position: absolute;
    top: 90%;
    left: 60%;
    font-size: 2em;
    color: white;

}

/* 모바일 이미지 */

.mobileimg {
    display: none;
    position: relative;
}

.mobileimg > div {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 10%;
    font-size: 2em;
    color: white;
}

.mobileimg > img {
    height: 100vh;
}

.mobileimg > div > h1:last-child {
    font-size: 3em;
    text-decoration: underline;
    background-color: rgb(255,166,0);
}

/* 콘텐츠 */

#main_content {
    width: 100%;
}

/* 인스타 연동 */
/* 
.insta {
    height: 200px;
} */

/* 베스트 상품 */

#main_content .best {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

#main_content .best > h3 {
    text-align: left;
    margin-left: 40px;
}

#main_content .best > .bestwrap {
    font-size: 0;
}

#main_content .best > .bestwrap div {
    display: inline-block;
    width: 25%;
    padding-top: 20px;
    padding-bottom: 50px;
}

#main_content .best .bestwrap > div img {
    max-width: 100%;
    height: auto;
}


/* 회원가입 혜택 안내 */


#main_content > .event > .eventimg1 {
    background-color: #00a9c6;
    line-height: 0px;

}

#main_content > .event > .eventimg2 {
    background-color: #018def;
    line-height: 0px;
}

#main_content > .event > .eventimg3 {
    background-color: #00a9c6;
    line-height: 0px;
}

#main_content > .event > .eventimg4 {
    margin-top: 50px;
}

#main_content > .event > .message1 {
    width: 100%;
    height: 500px;
}

#main_content > .event > .message1 > h1 {
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 4em;
    background-color: yellow;
}

#main_content > .event > .message1 > h3 {
    font-size: 1.5em;
}

#main_content > .event > .message1 > h2 {
    margin-top: 30px;
    font-size: 2em;
    font-style: italic;
    background-color: black;
    color: white;
}


.event > .formwrap form {
    /* background-image: url("../img/3.jpg"); */
    padding: 50px;
    margin-top: 5%;
    margin-left: 30%; 
    margin-right: 30%;
    background-color: rgba(255, 255, 255);
    border: 1px solid black;
    font-weight: bold;
}

.event > .formwrap div {
    padding: 20px;
}

.event > .formwrap div label{
    float: left;
    width: 100px;
}

.event > .formwrap #password {
    width: 200px;
}

.event > .formwrap #name {
    width: 200px;
}


.event > .formwrap #email {
    width: 200px;
}


.event > .formwrap #submit {
    width: 100px;
}


@media screen and (min-width:768px) and (max-width: 1023px) {

    #main_content {
        width: 100%;
    }

    #main_content .best > .bestwrap div {
        width: 50%;
    }

    .bxslider > li > div > h4 {
        display: none;
    }

    #main_content > .event > .message1 {
        height: 680px;
    }

    #main_content > .event > .eventimg4 > img {
        display: none;
    }

    #main_content > .event > .eventimg4 {
        background-image: url("../img/logo.gif");
        width: 100%;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .event > .formwrap form {
        margin-left: 20%;
        margin-right: 20%;
    }

}

@media screen and (max-width:767px) {
    
    .bxslider {
        display: none;
    }

    .mobileimg {
        display: block;
    }

    #main_content .best {
        margin-top: 50px;
    }

    #main_content {
        width: 100%;
    }

    #main_content .best > .bestwrap div {
        width: 100%;
    }

    #main_content > .event > .message1 {
        height: 900px;
    }

    #main_content > .event > .eventimg2 > img {
        display: none;
    }

    #main_content > .event > .eventimg3 > img {
        display: none;
    }

    #main_content > .event > .eventimg4 > img {
        display: none;
    }

    #main_content > .event > .eventimg2 {
        background-image: url("../img/9.jpg");
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* #main_content > .event > .eventimg3 {
        background-image: url("../img/8.jpg");
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
    } */

    #main_content > .event > .eventimg4 {
        background-image: url("../img/logo.gif");
        width: 100%;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .event > .formwrap form > div > img {
        display: none;
    }

    .event > .formwrap form {
        width: 100%;
        margin: auto 0;
        padding: auto 0;
        border: none;
    }
    
    .event > .formwrap div label{
        float: left;
        width: 1%;
    }
}    