@charset "UTF-8";

/* 헤더 */



/* 이미지 슬라이더 */

.bxslider {
    margin: 0 auto;
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.bxslider > li {
    position: absolute;
    margin: 0 auto;
}

.bxslider > li > div > h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 5em;
    color: white;
}

.bxslider > li > div > h4 {
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 2em;
    color: white;
}

.mobileimg {
    display: none;
    position: relative;
}

.mobileimg > div {
    position: absolute;
    z-index: 100;
    top: 20%;
    left: 10%;
    font-size: 2em;
    color: white;
}

.mobileimg > div > h1:last-child {
    font-size: 2.5em;
}

/* 콘텐츠 */

#main_content {
    position: relative;
    width: 100%;
}

/* 인스타 연동 */

.insta {
    height: 200px;
}

/* 베스트 상품 */

#main_content .best {
    width: 100%;
    overflow: hidden;
    /* position: absolute; */
    /* left:50%; */
    /* transform: translate(-50%); */
}

#main_content .best > h3 {
    text-align: left;
    margin-left: 40px;
}

#main_content .best > div {
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

/* 회원가입 혜택 안내 */

#main_content > .event > .eventimg1 {
    background-color: #00a9c6;
    line-height: 0px;
}

#main_content > .event > .eventimg2 {
    background-color: #018def;
    line-height: 0px;
}

#main_content > .event > .eventimg3 {
    background-color: #00a9c6;
    line-height: 0px;
}

#main_content > .event > .eventimg4 {
    margin-top: 50px;
}

#main_content > .event > .message1 {
    width: 100%;
    height: 500px;
}

#main_content > .event > .message1 > h1 {
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 4em;
    background-color: yellow;
}

#main_content > .event > .message1 > h3 {
    font-size: 1.5em;
}

#main_content > .event > .message1 > h2 {
    margin-top: 30px;
    font-size: 2em;
    font-style: italic;
    background-color: black;
    color: white;
}


@media screen and (min-width:768px) and (max-width: 1023px) {

    #main_content {
        width: 100%;
    }

    #main_content .best > div {
        width: 50%;
    }

    .bxslider > li > div > h4 {
        display: none;
    }

    #main_content > .event > .message1 {
        height: 680px;
    }
}

@media screen and (max-width:767px) {
    
    .bxslider {
        display: none;
    }

    .mobileimg {
        display: block;
    }

    #main_content .best {
        margin-top: 50px;
    }

    #main_content {
        width: 100%;
    }

    #main_content .best > div {
        width: 100%;
    }

    #main_content > .event > .message1 {
        height: 900px;
    }

}    