@charset "UTF-8";

/* 초기화 */
*{ margin: 0; padding: 0;}
ul,li { list-style: none;}
a { text-decoration: none;}

/* 이미지 슬라이더 */
.bxslider {
    top: 61px;
    min-width: 100%;
    position: absolute;
}

/* 콘텐츠 */

#main_content {
    width: 80%;
    float: right;
}

/* 상품 전체보기 */

#main_content .all {
    overflow: hidden;
    text-align: center;
}

#main_content .all > h3 {
    text-align: left;
    margin-left: 40px;
}

#main_content .all > div {
    float: left;
    width: 25%;
    padding-top: 20px;
    overflow: hidden;
}

#main_content .all > .morewrap {
    width: 100%;
    padding-bottom: 50px;
}


#main_content .all > .morewrap > .more {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}


/* 사이드 */

#side_menu {
    width: 20%;
    float: left;
    padding-left: 30px;
    box-sizing: border-box;
}

#side_menu > div {
    width: 80%;
    border: 1px solid black;
}

#side_menu > div > ul > li {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    border-bottom: black 1px solid;
    font-weight: bold;
}

#side_menu > div > ul > li > ul > li {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#side_menu > div > ul > li > ul > li{
    font-weight: normal;
}


@media screen and (max-width:767px) {
    
    .bxslider {
        display: none;
    }

    #side_menu {
        display: none;
    }

    #main_content {
        width: 100%;
    }

    #main_content .best > div {
        width: 50%;
    }

    #main_content .all > div {
        width: 50%;
    }

}    