@charset "UTF-8";

/* 초기화 */
*{ margin: 0; padding: 0;}
ul,li { list-style: none;}
a { text-decoration: none;}

/* 이미지 슬라이더 */
.bxslider {
    top: 61px;
    min-width: 100%;
    position: absolute;
}

.bxslider > li > div > h1 {
    position: absolute;
    top: 30%;
    left: 5%;
}

.bxslider > li > div > h4 {
    position: absolute;
    top: 50%;
    left: 5%;
    margin-left: 5px;
}


/* 콘텐츠 */
#main_content {
    overflow: hidden;
    width: 80%;
    float: right;
}

#main_content .reviewwrap {
    overflow: hidden;
}

#main_content .reviewwrap .review{
    overflow: hidden;
    font-size: 0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#main_content .reviewwrap .review {
    display: none;
}


#main_content .reviewwrap > h3 {
    text-align: left;
    margin-left: 40px;
    margin-bottom: 30px;
}

#main_content .reviewwrap .review > div {
    display: inline-block;
    width: 23%;
    margin: 1%;
}

#main_content .reviewwrap .review > div img {
    max-width: 100%;
    height: auto;
}

#main_content .reviewwrap > .morewrap {
    width: 100%;
    padding-bottom: 50px;
    padding-top: 20px;
}

#main_content .reviewwrap > .morewrap > .more {
    width: 88%;
    margin-left: 6%;
    padding: 10px;
    border: 1px solid rgb(180, 180, 180);
    box-sizing: border-box;
}

/* 사이드 */

#side_menu {
    width: 20%;
    float: left;
    padding-left: 30px;
    box-sizing: border-box;
}

#side_menu h1 {
    padding-top: 15%;
    padding-bottom: 5%;
}

#side_menu h3 {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 5px;
}

#side_menu > div {
    width: 80%;
    border: 1px solid rgb(180, 180, 180);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#side_menu > div > ul > li {
    padding-top: 15px;
    padding-left: 10%;
    font-weight: bold;
}

#side_menu > div > ul > li::after {
    content: "";
    display: block;
    width: 90%;
    border-bottom: rgb(180, 180, 180) 1px solid;
    padding-bottom: 15px;
}

#side_menu > div > ul > li:last-child::after {
    border-bottom: none;
}


#side_menu > div > ul > li > ul > li {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 0.9em;
}

.updown i:last-child {
    display: none;
}

.updown {
    float: right;
    padding-right: 20%;
}

@media screen and (min-width:768px) and (max-width: 1023px) {

    #side_menu {
        display: none;
    }

    #main_content {
        width: 100%;
    }

    #main_content .best > .bestwrap div {
        width: 40%;
    }

    #main_content .reviewwrap > .review div {
        width: 40%;
    }

    .bxslider > li > div > h1 {
        top: 20%;
    }

    #main_content .reviewwrap > .morewrap > .more {
        width: 74%;
        margin-left: 13%;
    }

}

@media screen and (max-width:767px) {
    
    .bxslider {
        display: none;
    }

    #side_menu {
        display: none;
    }

    #main_content {
        width: 100%;
    }

    #main_content .best > .bestwrap div {
        width: 100%;
    }

    #main_content .reviewwrap > .review div {
        width: 100%;
    }
}    