@charset "UTF-8";

/* 초기화 */
*{ margin: 0; padding: 0;}
ul,li { list-style: none;}
a { text-decoration: none;}

/* 헤더 */


/* 이미지 슬라이더 */
.bxslider {
    top: 61px;
    min-width: 100%;
    position: absolute;
}

/* 콘텐츠 */

#main_content {
    position: relative;
    width: 100%;
}

/* 메뉴 버튼 */

#main_content .button {
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 1%;
    padding-left: 1%;

}

#main_content .button > div {
    float: left;
    width: 33%;
    border: 5px solid white;
    text-align: center;
    box-sizing: border-box;
}

#main_content .button > div > a {
    line-height: 140px;
    color: white;
    font-size: 3em;
}


#main_content > .button > div:nth-child(1) {
    background-image: url("../img/27.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#main_content > .button > div:nth-child(2) {
    background-image: url("../img/28.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#main_content > .button > div:nth-child(3) {
    background-image: url("../img/29.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* 베스트 상품 */

#main_content .best {
    overflow: hidden;
}

#main_content .best .bestwrap{
    overflow: hidden;
    font-size: 0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#main_content .best > h3 {
    text-align: left;
    margin-left: 40px;
}

#main_content .best .bestwrap > div {
    display: inline-block;
    width: 23%;
    margin: 1%;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    position: relative;
    border:  rgb(180, 180, 180) 1px solid;
    box-sizing: border-box;
}

#main_content .best .bestwrap > div .price {
    font-size: 15px;
    background-color: white;
    padding: 5px;
}

.hovermsg {
    font-size: 17px;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 15px;
    border: 1.5px solid white;
    background-color: rgba(255, 255, 255 , 0.5);
    display: none;
}

#main_content .best .bestwrap > div .price h4:nth-child(1) {
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
}

#main_content .best .bestwrap > div .price h4:nth-child(2) {
    float: right;
    margin-right: 10%;
    overflow: hidden;
}

#main_content .best .bestwrap > div img {
    max-width: 100%;
    height: auto;
}

#main_content .best .bestwrap > div img:hover {
    opacity: 0.7;
}

#main_content .best .bestwrap > div img:hover + .hovermsg{
    display: block;
}

/* 신상품 */

#main_content .newproduct {
    overflow: hidden;
}

#main_content .newproduct .newwrap{
    overflow: hidden;
    font-size: 0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#main_content .newproduct > h3 {
    text-align: left;
    margin-left: 40px;
}

#main_content .newproduct .newwrap > div {
    display: inline-block;
    width: 23%;
    margin: 1%;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    position: relative;
    border:  rgb(180, 180, 180) 1px solid;
    box-sizing: border-box;
}

#main_content .newproduct .newwrap > div .price {
    font-size: 15px;
    background-color: white;
    padding: 5px;
}

.hovermsg {
    font-size: 17px;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 15px;
    border: 1.5px solid white;
    background-color: rgba(255, 255, 255 , 0.5);
    display: none;
}

#main_content .newproduct .newwrap > div .price h4:nth-child(1) {
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
}

#main_content .newproduct .newwrap > div .price h4:nth-child(2) {
    float: right;
    margin-right: 10%;
    overflow: hidden;
}

#main_content .newproduct .newwrap > div img {
    max-width: 100%;
    height: auto;
}

#main_content .newproduct .newwrap > div img:hover {
    opacity: 0.7;
}

#main_content .newproduct .newwrap > div img:hover + .hovermsg{
    display: block;
}
/* 포토리뷰 */

#main_content .reviewwrap {
    overflow: hidden;
}

#main_content .reviewwrap .review{
    overflow: hidden;
    font-size: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#main_content .reviewwrap > h3 {
    text-align: left;
    margin-left: 40px;
    padding-bottom: 50px;
}

#main_content .reviewwrap .review > div {
    display: inline-block;
    width: 23%;
    box-sizing: border-box;
    margin: 1%;
}

#main_content .reviewwrap .review > div img {
    max-width: 100%;
    height: auto;
}

#main_content .reviewwrap > .morewrap {
    width: 100%;
    padding-bottom: 50px;
    padding-top: 20px;
}


#main_content .reviewwrap > .morewrap > .more {
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}


@media screen and (min-width:768px) and (max-width: 1023px) {

    #side_menu {
        display: none;
    }

    #main_content {
        width: 100%;
    }

    #main_content .best > .bestwrap div {
        width: 40%;
    }


    #main_content .newproduct > .newwrap div {
        width: 40%;
    }

}

@media screen and (max-width:767px) {
    
    .bxslider {
        display: none;
    }

    #side_menu {
        display: none;
    }

    #main_content {
        width: 100%;
    }

    #main_content .button > div {
        width: 100%;
    }

    #main_content .best > .bestwrap div {
        width: 100%;
    }

    #main_content .newproduct > .newwrap div {
        width: 100%;
    }

    #main_content .reviewwrap > .review div {
        width: 40%;
    }

}    